/**
    Build by Richard Tsai
    Need to delay some animations... that's all
 */

.delay-1 {
    animation-delay: .25s;
}
.delay-2 {
    animation-delay: .5s;
}
.delay-3 {
    animation-delay: .75s;
}
.delay-4 {
    animation-delay: 1s;
}
.delay-5 {
    animation-delay: 2s;
}
.delay-6 {
    animation-delay: 3s;
}
.delay-me {
    animation-delay: 5s;
    animation-iteration-count:1.5;
    animation-delay: 15s;
    animation-iteration-count:1.5;
    animation-delay: 15s;
    animation-iteration-count:1.5;
}